<div class="is-flex">
  <strong><%= link_to model.code, { action: 'show', id: model.id }, text: true %></strong>
  <div class="ml-2">
  <% if model.rented %>
    <div class="tags has-addons">
      <span class="tag is-info"><i class="fa-solid fa-hand-holding-box"></i></span>
      <span class="tag">租用</span>
    </div>
  <% elsif model.held_user_id %>
    <div class="tags has-addons">
      <span class="tag is-primary"><i class="fa-solid fa-check"></i></span>
      <span class="tag">自购</span>
    </div>
  <% end %>
  </div>
</div>
