<div class="media-left"></div>
<div class="weui-cell__bd weui-cell_primary">
  <span class="has-dot-success"><%= model.start_name %></span>
  <i class="fa-solid fa-arrow-right text-grey"></i>
  <span class="has-dot-danger"><%= model.finish_name %></span>
</div>
