<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">
    <i class="fa-solid fa-fw fa-list-check"></i>
    <span>运次管理</span>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-cells" data-empty-target="content">
      <%= link_to({ controller: 'ship/admin/shipments' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
        <div class="weui-cell__bd"><%= t('ship.admin.shipments.index.title') %></div>
        <div class="weui-cell__ft"></div>
      <% end %>
      <%= link_to({ controller: 'ship/admin/lines' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
        <div class="weui-cell__bd"><%= t('ship.admin.lines.index.title') %></div>
        <div class="weui-cell__ft"></div>
      <% end %>
    </div>
  </div>
</div>
