<div class="box is-padding-less">
  <div class="box-header">
    <i class="fa-solid fa-fw fa-list-check"></i>
    <span>运次管理</span>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-cells" data-empty-target="content">
      <%= link_to({ controller: 'ship/admin/lines' }, class: 'weui-cell weui-cell_active weui-cell_access') do %>
        <div class="media-content"><%= t('ship.admin.lines.index.title') %></div>
        <div class="media-right">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
