<table class="table is-fullwidth is-hoverable as-show" id="way-table" style="table-layout: fixed">
  <tbody>
    <%= render partial: 'item_location', collection: @way.locations.sort_by(&:position), as: :location, locals: { f: form_object(@way) } %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= form_with model: @way, url: { action: 'create' }, id: 'new_way' do |f| %>
          <button type="submit" form="new_way" class="weui-btn weui-btn_primary">чбошод</button>
        <% end %>
      </td>
    </tr>
  </tfoot>
</table>
