<% @way.locations.each do |location| %>
<div>
  <td class="has-text-justified"><%= location.position_text %></dd>
  <td>
    <span class="has-text-grey"><%= location.cityname %></span>
    <span><%= location.poiname %></span>
  </td>
</div>
<% end %>
