<table class="table is-fullwidth is-hoverable as-show">
  <thead>
    <tr>
      <th class="text-left">
        <%= link_to({ action: 'index' }, class: 'button is-borderless') do %>
          <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
        <% end %>
      </th>
      <th class="text-right">
        <button class="button is-borderless" data-controller="weui-actionsheet" data-weui-actionsheet-id-value="actionsheet" data-action="weui-actionsheet#toggle">
          <i class="fa-solid fa-lg fa-ellipsis-h"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render 'show_table' %>
  </tbody>
</table>

<div class="box is-padding-less mx-3">
  <div class="box-header"><%= t('.title') %></div>
  <div class="weui-panel__bd">
    <div class="weui-cells mt-0">
      <%= render partial: 'index_tbody', layout: 'index_tr', collection: @similars, as: :model %>
    </div>
  </div>
</div>

<%# render 'actionsheet' %>
