<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ controller: 'box_hosts', action: 'create' }, params: { '[box_host]box_specification_id': model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-circle-info"></i>
        <span class="pl-1">生产/入库</span>
      <% end %>
    </div>
  </td>
</tr>
