<div>
  <dt><%= Ship::Favorite.human_attribute_name(:avatar) %></dt>
  <dt><%= image_tag @favorite.user.avatar if @favorite.user.avatar.attached? %></dd>
</div>
<div>
  <dt><%= Ship::Favorite.human_attribute_name(:name) %></dt>
  <dd><%= @favorite.user.name %></dd>
</div>
