<p>
  <span><%= model.single_price.to_money.format(html_wrap: true).html_safe %></span>
  <span class="pl-3">
    <span class="has-text-grey">成交：</span>
    <span><%= model.done_number %></span>
    <span>/</span>
    <span><%= model.number %></span>
  </span>
</p>
<p class="has-text-grey">
  <time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time>
</p>
