<th><%= Trade::Item.human_attribute_name(:single_price) %></th>
<th>
  <span><%= Trade::Item.human_attribute_name(:number) %></span>
  <span>/</span>
  <span><%= Trade::Item.human_attribute_name(:done_number) %></span>
</th>
