<div class="media">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="weui-media-box__ft pr-2">
    <%= check_box_tag 'xx', model.id, @shipment.loaded_package_ids.include?(model.id), id: nil %>
  </div>
</div>
