<th>
  <p><%= Ship::Address.human_attribute_name(:contact) %></p>
  <p><%= Ship::Address.human_attribute_name(:tel) %></p>
</th>
<th><%= Ship::Address.human_attribute_name(:detail) %></th>
<th><%= Ship::Address.human_attribute_name(:station_id) %></th>
<th>待处理订单数</th>
