<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('ship.panel.lines.index.title'), { controller: 'lines' } %></li>
    <li><%= link_to @line.name, { controller: 'lines', id: @line.id } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
