<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('ship.panel.box_specifications.index.title'), { controller: 'box_specifications' } %></li>
    <li><span class="px-3"><%= @box_specification.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
