<th>
  <p><%= Trade::Rent.human_attribute_name(:rent_start_at) %></p>
  <p><%= Trade::Rent.human_attribute_name(:rent_estimate_finish_at) %></p>
</th>
<th><%= Trade::Rent.human_attribute_name(:rent_finish_at) %></th>
<th><%= Trade::Rent.human_attribute_name(:price) %></th>
