<span><%= model.price.to_money.format.html_safe %></span>
<span class="ml-4">
  <span><%= model.done_amount %></span>
  <span>/</span>
  <span><%= model.amount %></span>
</span>
<time class="ml-4" data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time>
