<div class="weui-tabbar weui-tabbar_fixed" data-controller="qq-map" data-qq-map-id-value="qq-map">
  <div class="weui-tabbar__item">
    <%= link_to :back, class: 'weui-btn weui-btn_default' do %>
      <span>取消</span>
    <% end %>
  </div>
  <div class="weui-tabbar__item">
    <button class="weui-btn weui-btn_primary">确认</button>
  </div>
</div>
