<td>
  <span><%= model.trade_item.good_name %></span>
  <span class="tag"><%= model.trade_item.uuid %></span>
</td>
<td><%= model.trade_item.produce_plan&.title %></td>
<td><%= model.good_item_id %></td>
