<th><%= Trade::Item.human_attribute_name(:good_id) %></th>
<th><%= Trade::Item.human_attribute_name(:number) %></th>
<th>
  <p><%= Trade::Item.human_attribute_name(:address_id) %></p>
</th>
<th><%= Trade::Item.human_attribute_name(:produce_plan_id) %></th>
