<table class="table is-fullwidth is-hoverable as-show">
  <tbody>
    <tr>
      <td class="has-text-right"><%= Lease::Rent.human_attribute_name(:job_id) %></td>
      <td><%= @rent.job %></td>
    </tr>
  </tbody>
</table>
