<%= render 'top_bar' %>
<%= form_with theme: 'weui', model: @box_hold, url: { action: 'update' } do |f| %>
  <div class="form-fields">
    <%= f.number_field :buyable %>
  </div>
  <%= f.submit %>
<% end %>
