<%= form_with theme: nil, scope: 'cart', url: { controller: 'trade/my/carts', action: 'update', id: params[:cart_id] }, method: :patch, id: 'cart_address_form' do %>
<% end %>

<div id="wechat_panel" class="box is-padding-less mx-3">
  <%= render partial: 'address', collection: @addresses, as: :model %>
</div>

<%= render 'button' %>
