<div>
  <dt><%= Ship::BoxProxyBuy.human_attribute_name(:price) %></dt>
  <dd><%= @box_proxy_buy.price %></dd>
</div>
<div>
  <dt><%= Ship::BoxProxyBuy.human_attribute_name(:buyable_count) %></dt>
  <dd><%= @box_proxy_buy.buyable_count %></dd>
</div>
