<tr>
  <td class="has-text-right"><%= BoxProxyBuy.human_attribute_name(:price) %></td>
  <td><%= @box_proxy_buy.price %></td>
</tr>
<tr>
  <td class="has-text-right"><%= BoxProxyBuy.human_attribute_name(:buyable_count) %></td>
  <td><%= @box_proxy_buy.buyable_count %></td>
</tr>
