<div data-controller="mini-program" data-mini-program-pt-class="pt-0" class="box as-bar">
  <% if params[:from] == 'station' %>
    <%= link_to({ controller: 'stations', action: 'shipments', id: params[:station_id] }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end %>
  <% else %>
    <%= link_to({ action: 'stations' }, class: 'px-4') do %>
      <i class="fa-solid fa-lg fa-fw-1 fa-angle-left"></i>
    <% end %>
  <% end %>
  <div class="weui-title">
    <i class="fa-solid fa-person-dolly-empty text-danger"></i>
    <span class="pl-1"><%= t('.title') %></span>
  </div>
  <i class="px-5"></i>
</div>
