<div class="py-2 flex justify-content-center">
  <%= link_to({ controller: '/ship/box_specifications', action: 'invest' }, class: 'weui-btn weui-btn_mini weui-btn_primary') do %>
    <i class="fa-solid fa-plus"></i>
    <span><%= t('ship.box_specifications.invest.title') %></span>
  <% end %>
</div>
