<p>
  <strong><%= model.box_specification.name %></strong>
  <span class="has-text-grey"><%= model.box_specification.measure %></span>
</p>
<p><%= model.boxes_count %></p>
<p class="has-text-danger"><%= model.sellable %></p>
