<div class="tabs is-centered">
  <ul>
    <li class="is-active">
      <%= link_to({ action: 'index' }) do %>
        <span>买入</span>
      <% end %>
    </li>
    <li>
      <%= link_to({ action: 'sell' }) do %>
        <span>卖出</span>
      <% end %>
    </li>
  </ul>
</div>
