<div class="weui-panel" id="rent_estimate_finish_at_panel">
  <div class="weui-panel__hd">
    <span>租期试算</span>
    <span class="has-text-danger"><%= @order.amount.to_money.format(html_safe: true).html_safe %></span>
  </div>
  <div class="weui-panel__bd">
    <%= render partial: 'fetch' %>
  </div>
</div>
