<tr>
  <td class="has-text-right"><%= Ship::BoxSpecification.human_attribute_name(:name) %></td>
  <td><%= @box_specification.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::BoxSpecification.human_attribute_name(:width) %></td>
  <td><%= @box_specification.measure %></td>
</tr>
