<tr>
  <td><%= Ship::BoxSpecification.human_attribute_name(:name) %></td>
  <td><%= @box_specification.name %></td>
</tr>
<tr>
  <td><%= Ship::BoxSpecification.human_attribute_name(:width) %></td>
  <td><%= @box_specification.measure %></td>
</tr>
