<div>
  <dt><%= Ship::BoxSpecification.human_attribute_name(:name) %></dt>
  <dd><%= @box_specification.name %></dd>
</div>
<div>
  <dt><%= Ship::BoxSpecification.human_attribute_name(:width) %></dt>
  <dd><%= @box_specification.measure %></dd>
</div>
