<p>
  <%= model.user.name %>
</p>
<p>
  <span><%= model.order.uuid %></span>
  <span class="tag is-danger"><%= model.state_i18n %></span>
</p>
<p><%= model.check_amount.to_money.format.html_safe %></p>
