<th>
  <p><%= Profiled::Address.human_attribute_name(:contact) %></p>
  <p><%= Profiled::Address.human_attribute_name(:tel) %></p>
</th>
<th><%= Profiled::Address.human_attribute_name(:station_id) %></th>
<th><%= Profiled::Address.human_attribute_name(:detail) %></th>
<th>已处理订单数</th>
