<div class="py-2 is-flex is-justify-content-center">
  <%= link_to({ controller: '/ship/box_specifications' }, class: 'weui-btn weui-btn_mini weui-btn_primary') do %>
    <i class="fa-regular fa-plus"></i>
    <span><%= t('ship.box_specifications.index.title') %></span>
  <% end %>
</div>
