<p>
  <strong><%= link_to model.code, { action: 'owned_show', id: model.id }, text: true %></strong>
  <span class="tag"><%= model.status_i18n %></span>
</p>
<p><%= model.box_specification.measure %></p>
<div class="flex align-content-center py-2">
  <% if model.rented %>
    <div class="tags has-addons ml-2">
      <span class="tag is-danger"><i class="fa-solid fa-hand-holding-box"></i></span>
      <span class="tag">租入</span>
    </div>
  <% else %>
    <div class="tags has-addons mb-0">
      <span class="tag is-info"><i class="fa-solid fa-hand-holding-box"></i></span>
      <span class="tag">自购</span>
    </div>
  <% end %>
</div>
