<div>
  <dt><%= BoxProxySell.human_attribute_name(:price) %></dt>
  <dd><%= @box_proxy_sell.price %></dd>
</div>
<div>
  <dt><%= BoxProxySell.human_attribute_name(:sellable_count) %></dt>
  <dd><%= @box_proxy_sell.sellable_count %></dd>
</div>
