<tr>
  <td><%= BoxProxySell.human_attribute_name(:price) %></td>
  <td><%= @box_proxy_sell.price %></td>
</tr>
<tr>
  <td><%= BoxProxySell.human_attribute_name(:sellable_count) %></td>
  <td><%= @box_proxy_sell.sellable_count %></td>
</tr>
