<p><%= model.station.name %></p>
<p>
<%= link_to({ action: 'shipments', line_id: model.line_id }) do %>
  <span><%= model.line.start_name %></span>
  <i class="fa-solid fa-right-long has-text-grey px-1"></i>
  <span><%= model.line.finish_name %></span>
<% end %>
</p>
