<table class="table as-search">
  <tr>
    <th>途径</th>
    <td>
      <% @shipment.line.line_stations.each_with_index do |line_station, index| %>
        <% if index > 0 %>
          <i class="fa-solid fa-right-long text-grey px-1" style="line-height: 37.5px"></i>
        <% end %>
        <% if line_station.position > @line_station.position %>
          <%= link_to line_station.station.name, filter_params(station_id: line_station.station_id, except: [:id]), class: active_helper(station_id: line_station.station_id, active: 'button is-info', item: 'button is-light') %>
        <% else %>
          <button class="button" disabled><%= line_station.station.name %></button>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
