<div class="media">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="weui-media-box__ft pr-2">
  <% if @shipment.loaded_package_ids.include?(model.id) %>
    <%= check_box_tag 'xx', model.id, true, disabled: true, id: nil %>
  <% elsif @shipment.package_ids.exclude?(model.id) %>
    <%= check_box_tag 'xx', model.id, false, id: nil %>
  <% end %>
  </div>
</div>
