<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('ship.admin.ways.index.title'), { controller: 'ways', anchor: "tr_#{params[:way_id]}" } %></li>
    <li><span class="px-3"><%= @way.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
