<p><%= model.uuid %></p>
<p>
  <span class="tag">
    <span>已租</span>
    <span><%= model.rents_count %></span>
  </span>
  <span>/</span>
  <span class="tag">
    <span>可租</span>
    <span><%= model.number %></span>
  </span>
</p>
