<div>
  <dt><%= Ship::Area.human_attribute_name(:name) %></dt>
  <dd><%= @area.name %></dd>
</div>
<div>
  <dt><%= Ship::Area.human_attribute_name(:names) %></dt>
  <dd><%= @area.names %></dd>
</div>
