<%= link_to({ action: 'show', id: model.id, station_id: params[:station_id] }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-solid fa-circle-info"></i>
  <span><%= t('.show.title') %></span>
<% end %>
<%= link_to({ action: 'payment_new', id: model.id, station_id: params[:station_id] }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-solid fa-credit-card"></i>
  <span><%= t('ship.admin.payment_orders.payment_new.title') %></span>
<% end if ['init'].include?(model.state) %>
