<td>
  <i class="fa-solid fa-location-dot <%= current_organ.station_ids.include?(model.station_id) ? 'text-success' : 'text-grey' %>"></i>
  <span><%= model.station.name %></span>
</td>
<td>
  <p><%= model.station.area.full_name %></p>
  <p><%= model.station.detail %></p>
</td>
