<tr>
  <td class="has-text-right"><%= Ship::Favorite.human_attribute_name(:avatar) %></td>
  <td><%= image_tag @favorite.user.avatar %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Ship::Favorite.human_attribute_name(:name) %></td>
  <td><%= @favorite.user.name %></td>
</tr>
