<tr>
  <td class="has-text-right"><%= Favorite.human_attribute_name(:avatar) %></td>
  <td><%= @favorite.avatar %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Favorite.human_attribute_name(:name) %></td>
  <td><%= @favorite.name %></td>
</tr>
