<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('ship.share.boxes.invest.title'), { controller: 'boxes', action: 'invest' } %></li>
    <li><span class="px-3"><%= @box.box_specification.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
