<div class="media">
  <div class="media-left">
    <%= link_to({ controller: '/ship/box_proxy_buys' }) do %>
      <i class="fa-solid fa-handshake-simple has-text-success"></i>
      <strong class="pl-1">买入</strong>
    <% end %>
  </div>
  <div class="weui-media-box__bd counter-section">
    <table class="table is-striped is-borderless is-fullwidth">
      <%= yield %>
    </table>
  </div>
</div>
