<div class="is-flex is-justify-content-space-between">
  <span class="has-text-grey-light counter-section-item"></span>
  <span class="has-text-success pl-3"><%= model.price.to_money.format(html_wrap: true).html_safe %></span>
  <span><%= model.buyable_count %></span>
</div>
