<tr>
  <td class="text-grey-light counter-section-item"></td>
  <td class="text-success pl-3"><%= model.price.to_money.format.html_safe %></td>
  <td class="text-right"><%= model.buyable_count %></td>
</tr>
