<div class="weui-panel">
  <div class="weui-panel__hd">委托交易</div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">持仓</div>
      <div class="weui-media-box__bd counter-section">
        <%= @box_hold.boxes_count %>
        <%= @box_hold.average_price %>
      </div>
      <div class="weui-media-box__ft px-3"></div>
    </div>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__hd">委托买入</div>
  <div class="weui-panel__bd">
    <%= render partial: 'item_tbody', layout: 'item_tr', collection: @items, as: :model %>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__hd">委托卖出</div>
  <div class="weui-panel__bd">
    <%= render partial: 'held_tbody', layout: 'held_tr', collection: @box_hold.box_sells.order(id: :desc), as: :model %>
  </div>
</div>
