<div class="is-flex is-justify-content-space-between">
  <div class="tags has-addons">
    <span class="tag"><i class="fa-solid fa-check"></i></span>
    <span class="tag is-success counter-section-item"></span>
  </div>
  <span class="has-text-success pl-3"><%= model.price.to_money.format(html_wrap: true).html_safe %></span>
  <span><%= model.amount %></span>
</div>
