<div class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__hd">
    <%= link_to({ controller: '/ship/box_proxy_sells' }) do %>
      <i class="fa-solid fa-gavel has-text-danger"></i>
      <strong class="pl-1">卖出</strong>
    <% end %>
  </div>
  <div class="weui-media-box__bd counter-section">
    <table class="table is-striped is-borderless is-fullwidth">
      <%= yield %>
    </table>
  </div>
</div>
