<td class="text-centered text-success"><%= model.single_price.to_money.format.html_safe %></td>
<td class="text-centered">
  <span><%= model.done_number %></span>
  <span>/</span>
  <span><%= model.number %></span>
</td>
<td class="text-centered"><time data-controller="time" class="text-grey"><%= model.created_at.to_fs(:iso8601) %></time></td>
