<div class="weui-panel">
  <div class="weui-panel__hd flex justify-content-space-between">
    <span>委托买入</span>
    <%= link_to({ controller: 'items', box_hold_id: @box_hold.id }, state: 'enter') do %>
      <span>更多</span>
      <i class="fa-solid fa-chevron-right text-grey-lighter"></i>
    <% end %>
  </div>
  <div class="weui-panel__bd">
    <table class="table is-striped is-borderless is-fullwidth">
      <thead>
        <tr>
          <%= render 'item_thead' %>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'item_tbody', layout: 'item_tr', collection: @items, as: :model %>
      </tbody>
    </table>
  </div>
</div>
