<div class="is-flex is-justify-content-space-between">
  <div class="tags has-addons">
    <span class="tag"><i class="fa-solid fa-check"></i></span>
  </div>
  <span class="has-text-danger pl-3"><%= model.single_price.to_money.format(html_wrap: true).html_safe %></span>
  <span><%= model.number %></span>
  <time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time>
</div>
