<th class="text-centered"><%= Trade::Item.human_attribute_name(:single_price) %></th>
<th class="text-centered">
  <span><%= Trade::Item.human_attribute_name(:done_number) %></span>
  <span>/</span>
  <span><%= Trade::Item.human_attribute_name(:number) %></span>
</th>
<th class="text-centered"><%= Trade::Item.human_attribute_name(:created_at) %></th>
