<div class="box is-padding-less mx-3">
  <div class="box-header flex justify-content-space-between">
    <span>委托卖出</span>
    <%= link_to({ controller: 'box_sells', box_hold_id: @box_hold.id }) do %>
      <span>更多</span>
      <i class="fa-solid fa-chevron-right text-grey-lighter"></i>
    <% end %>
  </div>
  <div class="weui-panel__bd">
    <table class="table is-striped is-borderless is-fullwidth">
      <thead>
        <tr>
          <%= render 'sell_thead' %>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'sell_tbody', layout: 'sell_tr', collection: @box_sells, as: :model %>
      </tbody>
    </table>
  </div>
</div>
