<tr>
  <%= yield %>
  <td>
    <%= link_to({ controller: 'box_sells', action: 'show', id: model.id, box_hold_id: @box_hold.id }) do %>
      <i class="fa-solid fa-chevron-right has-text-grey-lighter"></i>
    <% end %>
  </td>
</tr>
