<td class="has-text-centered has-text-success"><%= model.price.to_money.format(html_wrap: true).html_safe %></td>
<td class="has-text-centered">
  <span><%= model.amount %></span>
  <span>/</span>
  <span><%= model.done_amount %></span>
</td>
<td class="has-text-centered">
  <time data-controller="time" class="has-text-grey"><%= model.created_at.to_fs(:iso8601) %></time>
</td>
