<th class="text-centered"><%= Ship::BoxSell.human_attribute_name(:price) %></th>
<th class="text-centered">
  <span><%= Ship::BoxSell.human_attribute_name(:done_amount) %></span>
  <span>/</span>
  <span><%= Ship::BoxSell.human_attribute_name(:amount) %></span>
</th>
<th class="text-centered"><%= Ship::BoxSell.human_attribute_name(:created_at) %></th>
