<td class="has-text-centered color-danger"><%= model.price.to_money.format.html_safe %></td>
<td class="has-text-centered">
  <span><%= model.done_amount %></span>
  <span>/</span>
  <span><%= model.amount %></span>
</td>
<td class="has-text-centered">
  <time data-controller="time" class="color-grey"><%= model.created_at.to_fs(:iso8601) %></time>
</td>
