<div>
  <%= link_to model.code, { action: 'show', id: model.id }, text: true %>
  <span class="tag"><%= model.status_i18n %></span>
  <% if model.rented %>
    <div class="tags has-addons is-inline-flex">
      <span class="tag is-info"><i class="fa-solid fa-hand-holding-box"></i></span>
      <span class="tag">已租</span>
    </div>
  <% elsif model.held_user_id || model.held_organ_id %>
    <div class="tags has-addons is-inline-flex">
      <span class="tag is-primary"><i class="fa-solid fa-check"></i></span>
      <span class="tag">已售</span>
    </div>
  <% end %>
</div>
