<div class="box is-padding-less mx-3" id="rent_estimate_finish_at_panel">
  <div class="box-header">
    <span>租期试算</span>
    <span class="text-danger"><%= @order.amount.to_money.format(html_safe: true).html_safe %></span>
  </div>
  <div class="weui-panel__bd">
    <%= render partial: 'fetch' %>
  </div>
</div>
