<div class="weui-cell weui-cell_active weui-cell_access">
  <div class="weui-cell__hd">
    <span><%= model.name %></span>
  </div>
  <div class="weui-cell__bd">
    <span class="has-text-grey has-text-weight-normal"><%= model.area.full_name %></span>
  </div>
  <div class="weui-cell__ft"></div>
</div>
