<%= link_to({ station_id: model.id }, class: 'media') do %>
  <div class="media-left">
    <span><%= model.name %></span>
  </div>
  <div class="media-content">
    <span class="color-grey has-text-weight-normal"><%= model.area.full_name %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
