<%= render 'top_bar' %>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-cells weui-cells_radio">
      <%= render partial: 'address', collection: @addresses, as: :model %>
    </div>
  </div>
  <div class="weui-panel__ft">
    <%= render 'button' %>
  </div>
</div>
