<div class="weui-panel">
  <div class="weui-panel__hd">
    <i class="fa-solid fa-gavel has-text-danger"></i>
    <span class="pl-1"><%= t('.title') %></span>
  </div>
  <div class="weui-panel__bd counter-section">
    <%= yield %>
  </div>
  <div class="weui-panel__ft">
  </div>
</div>
