<div class="box is-padding-less mx-3">
  <div class="box-header">
    <i class="fa-solid fa-gavel text-danger"></i>
    <span class="pl-1"><%= t('.title') %></span>
  </div>
  <div class="weui-panel__bd counter-section">
    <table class="table is-striped is-borderless is-fullwidth">
      <thead>
        <tr>
          <%= render 'index_thead' %>
        </tr>
      </thead>
      <tbody>
        <%= yield %>
      </tbody>
    </table>
  </div>
  <div class="weui-panel__ft">
  </div>
</div>
