<%= link_to({ action: 'show', id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-regular fa-circle-info"></i>
  <span><%= t('.show') %></span>
<% end %>
<%= link_to({ action: 'edit', id: model.id }, class: 'weui-actionsheet__cell') do %>
  <i class="fa-regular fa-pencil"></i>
  <span><%= t('.edit') %></span>
<% end if model.owned_user_id == current_user&.id %>
