<div class="weui-panel">
  <div class="weui-panel__hd">运次</div>
  <div class="weui-panel__bd">
    <%= render 'shipment' %>
    <%= render 'items' %>
  </div>
  <div class="weui-panel__ft py-2">
    <%= render 'buttons' %>
  </div>
</div>
