<%= render 'top_bar' %>

<%= form_with theme: 'weui', model: @shipment, url: { action: 'update' } do |f| %>
  <div class="form-fields">
    <%= f.datetime_field :left_at, step: 1 %>
  </div>
  <%= f.submit %>
<% end %>
