<%= render 'top_bar' %>

<%= form_with theme: 'weui', model: @shipment, url: { action: 'update' } do |f| %>
  <div class="weui-form__control-area">
    <div class="weui-cells__group weui-cells__group_form">
      <div class="weui-cells">
        <%= f.datetime_field :left_at, step: 1 %>
      </div>
    </div>
  </div>
  <%= f.submit %>
<% end %>
