<th><%= Ship::ShipmentLog.human_attribute_name(:station_id) %></th>
<th>
  <p><%= Ship::ShipmentLog.human_attribute_name(:prepared_at) %></p>
  <p><%= Ship::ShipmentLog.human_attribute_name(:expected_leave_at) %></p>
</th>
<th></th>
