<div class="media">
  <div class="media-content">
    <h6 class="weui-media-box__title"><%= address.name %></h6>
    <div class="weui-media-box__desc">
      <span><%= address.area.full_name %></span>
      <span><%= address.detail %></span>
    </div>
  </div>
  <div class="media-right as-x">
    <div class="weui-btn weui-btn_default">
      <%= '详情' %>
    </div>
  </div>
</div>
