<div class="weui-panel">
  <div class="weui-panel__hd">
    <span><%= model.name %></span>
    <span class="text-grey text-weight-normal">（<%= model.area.full_name %>）</span>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-cells weui-cells_radio">
      <%= render partial: 'address', collection: @addresses, as: :model %>
    </div>
  </div>
  <div class="weui-panel__ft">
    <%= link_to({ action: 'new', station_id: model.id, return_to: params[:return_to] }, class: 'media') do %>
      <div class="media-content">完善地址</div>
      <div class="media-right">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    <% end %>
  </div>
</div>
