<td>
  <p class="has-text-success"><time data-controller="time" data-format="yyyy-MM-dd HH:mm:ss"><%= model.boxed_in_at.to_fs(:iso8601) %></time></p>
  <p class="has-text-danger"><time data-controller="time" data-format="yyyy-MM-dd HH:mm:ss"><%= model.boxed_out_at&.to_fs(:iso8601) %></time></p>
</td>
<td><%= model.duration %></td>
<td><%= model.package_id %></td>
