<th>
  <p class="has-text-success"><%= Ship::BoxLog.human_attribute_name(:boxed_in_at) %></p>
  <p class="has-text-danger"><%= Ship::BoxLog.human_attribute_name(:boxed_out_at) %></p>
</th>
<th><%= Ship::BoxLog.human_attribute_name(:duration) %></th>
<th><%= Ship::BoxLog.human_attribute_name(:package_id) %></th>
