<p>
  <strong><%= model.box_specification.name %></strong>
  <span class="has-text-grey"><%= model.box_specification.measure %></span>
</p>
<div class="is-flex justify-content-space-between mt-2">
  <%= link_to({ controller: 'box_sells', box_hold_id: model.id }, class: 'tags has-addons') do %>
    <span class="tag is-link">
      <i class="fa-solid fa-tags"></i>
      <span class="pl-1">卖出明细</span>
    </span>
    <span class="tag"><%= model.rented_amount %></span>
  <% end %>
</div>
