<p>
  <strong><%= model.box_specification.name %></strong>
  <span class="has-text-grey"><%= model.box_specification.measure %></span>
</p>
<div class="is-flex is-justify-content-space-between mt-2">
  <%= link_to({ controller: 'box_sells', box_hold_id: model.id }) do %>
    <i class="fa-solid fa-tags"></i>
    <span class="pl-1">卖出明细</span>
    <span class="pl-1"><%= model.rented_amount %></span>
  <% end %>
</div>
