<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('ship.admin.box_hosts.index.title'), { controller: 'box_hosts' } %></li>
    <li>
      <span class="px-3">
        <span><%= @box_host.box_specification.name %></span>
        <span class="pl-1 size-7"><%= @box_host.box_specification.measure %></span>
      </span>
    </li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
