<%= link_to({ controller: 'wechat/my/users', action: 'invite_qrcode' }, class: 'weui-btn_cell weui-btn_cell-primary') do %>
  <i class="fa-regular fa-qrcode fa-fw"></i>
  <span>邀请二维码</span>
<% end %>
