<tr>
  <td><%= Ship::Favorite.human_attribute_name(:driver_name) %></td>
  <td><%= @favorite.driver.name %></td>
</tr>
<tr>
  <td><%= Ship::Favorite.human_attribute_name(:driver_avatar) %></td>
  <td><%= image_tag @favorite.driver.license if @favorite.driver.license.attached? %></td>
</tr>
