<div>
  <dt><%= Ship::Favorite.human_attribute_name(:driver_name) %></dt>
  <dd><%= @favorite.driver.name %></dd>
</div>
<div>
  <dt><%= Ship::Favorite.human_attribute_name(:driver_avatar) %></dt>
  <dt><%= image_tag @favorite.driver.license if @favorite.driver.license.attached? %></dd>
</div>
