<tr>
  <td class="has-text-right"><%= Favorite.human_attribute_name(:driver_avatar) %></td>
  <td><%= @favorite.driver_avatar %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Favorite.human_attribute_name(:driver_name) %></td>
  <td><%= @favorite.driver_name %></td>
</tr>
