<td>
  <p><%= model[0].name %></p>
</td>
<td>
  <%= link_to({ controller: 'items', action: 'user', user_id: model[0].id }, aria: { label: t('ship.admin.items.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-regular fa-dolly"></i>
    <span class="pl-1"><%= model[1] %></span>
  <% end %>
</td>
