<div class="media-left">
  <%= image_tag model.user.avatar, class: 'image is-32x32' if model.user.avatar.attached? %>
</div>
<div class="weui-cell__bd weui-cell_primary">
  <span><%= model.user.name %></span>
</div>
