<div class="box is-padding-less">
  <div class="box-header">
    <%= t('.title') %>
  </div>
  <div class="weui-panel__bd">
  <% @cars.each do |car| %>
    <%= link_to({ action: 'show', id: car.id }, class: 'media') do %>
      <div class="media-left">
        <%= image_tag car.registration, class: 'image is-64x64' if car.registration.attached? %>
      </div>
      <div class="media-content">
        <h4 class="weui-media-box__title"><%= car.number %></h4>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class="weui-panel__ft"></div>
</div>
