<%= button_to({ controller: 'packages', action: 'create' }, params: { '[package]address_id': @address.id }, class: 'button is-primary my-2') do %>
  <i class="fa-solid fa-hand-holding-usd"></i>
  <span class="pl-1"><%= t('.package') %></span>
<% end %>
