<div class="weui-panel">
  <div class="weui-panel__bd">
    <%= render layout: 'index_tr' do %>
      <%= render partial: 'index_tbody', collection: @box_proxy_sells, as: :model %>
    <% end %>
    <%= render layout: 'buy_tr' do %>
      <%= render partial: 'buy_tbody', collection: @box_proxy_buys, as: :model %>
    <% end %>
  </div>
</div>
