<div>
  <dt><%= Ship::Station.human_attribute_name(:area_id) %></dt>
  <dd><%= @station.area_id %></dd>
</div>
<div>
  <dt><%= Ship::Station.human_attribute_name(:name) %></dt>
  <dd><%= @station.name %></dd>
</div>
