<tr>
  <td class="has-text-mono">
    <p><time data-controller="time" data-format="yyyy-MM-dd HH:mm:ss"><%= model.start_at&.to_fs(:iso8601) %></time></p>
    <p><time data-controller="time" data-format="yyyy-MM-dd HH:mm:ss"><%= model.finish_at&.to_fs(:iso8601) %></time></p>
  </td>
  <td>
    <span class="p-1"><%= model.duration %></span>
  </td>
</tr>
