<td>
  <p><%= model.name %></p>
</td>
<td><%= model.measure %></td>
<td class="has-text-danger"><%# model.price.to_money.format(html_wrap: true).html_safe %></td>
<td class="has-text-centered">
  <%# render partial: 'cart', locals: { model: model } %>
</td>
