<table class="table is-striped is-borderless is-fullwidth">
  <thead>
    <tr class="text-weight-normal size-7">
      <th>
        <p><%= Ship::Package.human_attribute_name(:id) %></p>
      </th>
      <th>
        <p><%= Ship::Package.human_attribute_name(:boxed_in_at) %></p>
        <p><%= Ship::Package.human_attribute_name(:boxed_out_at) %></p>
      </th>
    </tr>
  </thead>
  <%= render partial: 'package', collection: @box.box_logs.order(id: :desc), as: :model %>
</table>
