<div class="media">
  <div class="media-content">
    <%= yield %>
  </div>
  <div class="media-right as-x">
    <%= button_to({ controller: '/com/common', action: 'actions' }, params: params.to_meta.merge!(station_id: params[:id], line_id: model.line_id, id: model.id, model: model.base_class_name), class: 'button is-borderless') do %>
      <i class="fa-solid fa-lg fa-ellipsis-h"></i>
    <% end %>
  </div>
</div>
