<div class="box is-padding-less mx-3">
  <div class="box-header">
    <span><%= t('.title') %></span>
    <span class="tag"><%= @boxes.total_count %></span>
  </div>
  <div class="weui-panel__bd">
    <%= yield %>
  </div>
  <div class="weui-panel__ft">
    <%= render 'button' %>
  </div>
</div>
