<div class="tabs">
  <ul>
    <li class="<%= active_helper(action: 'index', active: 'is-active') %>">
      <%= link_to t('ship.share.boxes.index.title'), { action: 'index' } %>
    </li>
    <li class="<%= active_helper(action: 'invest', active: 'is-active') %>">
      <%= link_to t('ship.share.boxes.invest.title'), { action: 'invest' } %>
    </li>
  </ul>
</div>
