<td colspan="2">
  <i class="fas fa-map-signs has-text-grey"></i>
  <span><%= model.start_name %></span>
  <i class="fas fa-arrow-right has-text-grey"></i>
  <span><%= model.finish_name %></span>
</td>
