<div class="weui-cell__hd">
  <i class="fas fa-map-signs has-text-grey"></i>
</div>
<div class="weui-cell__bd weui-cell_primary">
  <span><%= model.start_name %></span>
  <i class="fas fa-arrow-right has-text-grey"></i>
  <span><%= model.finish_name %></span>
</div>
