<table class="table is-fullwidth is-hoverable as-show" id="line-table" style="table-layout: fixed">
  <tbody>
    <%= render partial: 'item_location', collection: @line.locations.sort_by(&:position), as: :location %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= form_with model: @line, url: { action: 'create' }, id: 'new_line' do |f| %>
          <%= render partial: 'item_field', locals: { f: f } %>
          <button type="submit" form="new_line" class="weui-btn weui-btn_primary">чбошод</button>
        <% end %>
      </td>
    </tr>
  </tfoot>
</table>
