<table class="table is-fullwidth is-hoverable as-show" id="line-table">
  <thead>
    <tr>
      <th></th>
      <th>
        <%= form_with model: @line, url: { action: 'create' }, id: 'new_line' do |f| %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @line.locations.each do |location| %>
    
    <% end %>
  </tbody>
</table>
