<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">
    <span class="has-border-left-primary">乘客</span>
  </div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile flex is-vcentered is-centered m-0" data-empty-target="content">
      <%= link_to({ controller: 'ship/my/favorites' }, class: 'column has-column-centered') do %>
        <div class="color-grey-dark">
          <i class="fa-solid fa-fw fa-xl fa-users"></i>
        </div>
        <div class="color-grey-dark is-size-0_9">
          <span><%= t('ship.my.favorites.index.title') %></span>
        </div>
      <% end if current_user.driver %>
      <%= link_to({ controller: 'ship/my/ways' }, class: 'column has-column-centered') do %>
        <div class="color-grey-dark">
          <i class="fa-solid fa-fw fa-xl fa-paper-plane"></i>
        </div>
        <div class="color-grey-dark is-size-0_9">
          <span><%= t('ship.my.ways.index.title') %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
