<div class="flex justify-content-space-between background-white p-4">
  <div>
    <span class="text-grey">持仓：</span>
    <span><%= @box_hold.boxes_count %></span>
  </div>
  <div>
    <span class="text-grey">持仓均价：</span>
    <span><%= @box_hold.average_price.to_money.format.html_safe %></span>
  </div>
</div>
