<th><%= Ship::Line.human_attribute_name(:name) %></th>
<th>
  <span><%= Ship::Line.human_attribute_name(:start_name) %></span>
  <i class="fa-solid fa-right-long has-text-grey px-1"></i>
  <span><%= Ship::Line.human_attribute_name(:finish_name) %></span>
</th>
<th><%= Ship::Line.human_attribute_name(:line_stations_count) %></th>
