<td><%= model.name %></td>
<td>
  <span><%= model.start_name %></span>
  <i class="fa-solid fa-right-long has-text-grey px-1"></i>
  <span><%= model.finish_name %></span>
</td>
<td><%= model.line_stations_count %></td>
